name: Aghisna MIUI
on:
  workflow_dispatch:

jobs:
   build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 11
        cache: gradle
    - run: |
        chmod +x ./gradlew
        ./gradlew :module:assembleRelease
    
    - name: ready compile...
      run: |
          curl https://raw.githubusercontent.com/QPLAYid/Kustom/main/miui.sh > miui.sh
          chmod +x miui.sh
          bash miui.sh
      shell: bash
      env:
         CHATID: ${{ secrets.CHAT_ID }}
         API_BOT: ${{ secrets.BOT_API }}
         TYPE_KERNEL: ${{ secrets.EZA }}






